* {
    /*   box-sizing: border-box; */
    padding: 0;
    margin: 0
}

#container {
    width: 100%;
}

.carousel {
    height: 80vh;
    overflow: hidden;
}
.carousel img {
    width: 100vw;
    height: 100vh;
   /*  object-fit: cover; */
    object-position: bottom;
}

.carousel-item {
    width: 100%;
    height: 22rem;
}

.parallax {
    /* Create the parallax scrolling effect */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover !important;
}

#parallaxtest {
    height: 100%;
    background-image: url('/imgs/parallax-kid.png');
    z-index: -1;
    background-position: right;
    background-size: 50% auto;
    background-repeat: no-repeat;
}

#parallaxtest2 {
    height: 100%;
    /*  max-height: 100%; */
    background-image: url('/imgs/parallax.png');
    z-index: -1;
    background-position: left;
    background-size: 50% auto;
    background-repeat: no-repeat;
}

/* MOBILE */
@media (max-width: 767px) {
    #paralax2 {
        min-width: 200%;
    }
    .carousel-item {
        width: 100%;
        height: 38em;
    }
    .carousel-item container * {
        margin:0;
        padding:0;
    }
}
/* Mobile and tablet */
@media only screen and (max-width: 992px) {
   .lead {
       margin-bottom: 10px 
   }
    #parallaxtest,
    #parallaxtest2 {
        height: 100vh;
        background-size: 100% auto;
    }

    .container-fluid .d-flex {
        height: 350px;
        padding-top: 3em;
        padding-bottom: 3em;
        padding-left: 1em;
        padding-right: 0.5em;
    }

}

/* TABLETS */
@media only screen and (min-width: 767px) and (max-width: 991px) {

    .carousel-item img {
        position: relative;
        right: 1.5rem;
    }

    #container-sec {
        position: relative;
    }

    #buggyimg {
        position: absolute;
        top: 2vh;
        left: 5px;
        max-height: 40vh;
        max-width: 32vw;
    }

    .img-text-section {
        font-size: 10px;
        display: hidden;
    }

}


/* DEKTOP */
@media only screen and (min-width: 992px) {
    .parallax {
        background-attachment: fixed !important;
    }

    body,
    html {
        margin: 0;
        padding: 0;
        box-sizing: border-box
    }

    #parallaxtest,
    #parallaxtest2 {
        background-attachment: fixed;
    }

}

/* GIGANTIC SCREEN */
@media only screen and (min-width: 1200px) {

    #buggyimg h3 {
        font-size: 2.9em
    }

    #buggyimg h5 {
        font-size: 2.2em
    }

}

.top-image {
    /* The image used */
    background-image: url("/imgs/slide--03.jpg");
    background-position: center;
    /* Set a specific height */
    min-height: 60vw;
    max-width: 100vw;
}



.jumbotron {
    -webkit-box-shadow: 4px 4px 5px 0px rgba(50, 50, 50, 0.52);
    -moz-box-shadow: 4px 4px 5px 0px rgba(50, 50, 50, 0.52);
    box-shadow: 4px 4px 5px 0px rgba(50, 50, 50, 0.52);
}

.container-fluid .d-flex {
    height: 15 rem;
    font-size: 0.7em;
}


[class*="col-"] {
    padding-top: 1em;
}

.nav-link>*,
#lang-selector>* {
    color: white;
}
