    * {
        /*   box-sizing: border-box; */
        padding: 0;
        margin: 0
    }

    body {
        padding-top: 65px;
    }

    h3 {
        font-size: 3vw
    }

    .top-image {
        /* The image used */
        background-image: url("/imgs/slide--03.jpg");
        background-position: center;
        /* Set a specific height */
        min-height: 60vw;
        width: 100%;
    }

    #container {
        width: 100%;
    }
    /* Home image */
    .parallax {
        /* Create the parallax scrolling effect */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover !important;
    }

    .carousel-item {
        width:100%;
        height: 22rem;
    }

    .medium {
        font-size:1.7rem;
        max-width:98%;
    }


    .little-right {
        position:relative;
        left:0.7rem;
    }



    #parallaxtest {
        height: 100%;
        background-image: url('/imgs/parallax-kid.png');
        z-index: -1;
        background-position: right;
        background-size: 50% auto;
        background-repeat: no-repeat;
    }

    #parallaxtest2 {
        height: 80vh;
        /*  max-height: 100%; */
        background-image: url('/imgs/parallax.png');
        z-index: -1;
        background-position: left;
        background-size: 50% auto;
        background-repeat: no-repeat;
    }


    .jumbotron {
        -webkit-box-shadow: 4px 4px 5px 0px rgba(50, 50, 50, 0.52);
        -moz-box-shadow: 4px 4px 5px 0px rgba(50, 50, 50, 0.52);
        box-shadow: 4px 4px 5px 0px rgba(50, 50, 50, 0.52);
    }

    .container-fluid .d-flex {
        height: 15 rem;
        font-size: 0.7em;
    }

    .template-text-color {
        color: #000873;
    }
    .nav-link>*,
    #lang-selector>* {
        color: white;
    }

    .bg-primarydark {
        background-color : #1c26ac
    }

    .max-width-40 {
        max-width: 40vw;
    }

    /* MEDIA QUERIES */
    @media only screen and (max-width:450px) {
        .carousel-item {
            height: 39rem;
        }
    }

    @media only screen and (min-width: 451px) and (max-width: 992px) {
        .carousel-item {
            height: 25rem;
        }
        .medium {
            font-size:1.5rem;
        }
    }

    @media only screen and (min-width: 768px) and (max-width: 992px) {
        .carousel-item  .jumbotron img {
            position:relative;
            right:20px;
            top:15px;
        }
    }

    /*DESKTOP*/
    @media only screen and (min-width:992px) {

        .parallax {
            background-attachment: fixed !important;
        }

        body,
        html {
            margin: 0;
        }

        .max-width-80 {
            max-width: 80%;
        }

        #parallaxtest, #parallaxtest2 {
            background-attachment: fixed;
            height: 100vh;
        }


    }

    /* Before Desktop */
    @media only screen and (max-width: 992px) {
        #parallaxtest,
        #parallaxtest2 {
          height: 26rem;
          background-size: cover;
        }
        .container-fluid .d-flex {
            height: auto;
            padding-top: 3em;
            padding-bottom: 3em;
            padding-left: 1em;
            padding-right: 0.5em;
        }
    }

    [class*="col-"] {
        padding: 1em;
    }
